<!-- {% extends "registration/base.html" %} -->
{% load bootstrap3 %}
{% load static %}
{% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
  {{block.super}}
  <div class="container">
    <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <section class="gallery">
          <div class="heading">
            <h5>Discover People</h5>
          </div>
          {% for user in users %}
            <figure class="card">

              <div class="feature">
                {% if user.profile.profile_pic %}
                  <img class="img-circle" src="{{user.profile.profile_pic.url}}" alt="profile_pic" width="100" height="100">
                {% else %}
                  <img class="img-circle" src={% static "images/avator.jpg" %} alt="profile_pic" width="100" height="100">
                {% endif %}
              </div>
              <hr>
              <figcaption class="caption">{{user.username}}</figcaption>
              <div class="disover_follow">
                <a href="{% url 'discover' user.id %}">
                  <button type="submit" class="btn btn-md" name="button">Follow</button>
                </a>
              </div>
            </figure>
          {% endfor %}
        </section>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
      <!-- empty div -->
      <!-- <div class="col-md-2"></div> -->
    </div>
  </div>

{% endblock %}
{% block scripts %}
  {% bootstrap_javascript %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
