<!-- {% extends "registration/base.html" %} -->
{% load bootstrap3 %}
{% load static %}
{% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
  {{block.super}}
  <div class="container">
    <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="profile-section">

          <div class="col-md-5">
            {% if request.user.profile.profile_pic %}
              <img class="img-circle" src="{{request.user.profile.profile_pic.url}}" alt="profile_pic" width="150" height="150">
            {% else %}
              <img class="img-circle" src={% static "images/avator.jpg" %} alt="profile_pic" width="150" height="150">
            {% endif %}
          </div>
          <div class="user-section">
            <h4>{{request.user}}</h4>
            <div class="edit_profile">
              <a href="{%url 'updateuserprofile' %}">
                <div class="form-group">
                  <button type="submit">Edit Profile</button>
                </div>
              </a>
            </div>
          </div>

          <div class="following_section">
            <button type="button" name="button" data-toggle="modal" data-target="#myModal">{{follows.count}}
              following</button>
          </div>

          <!-- <p>{{request.user.profile.bio}}<br></p> -->

          <div class="col-md-4">
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{follows.count}}
                      Following</h4>
                  </div>
                  <div class="modal-body">
                    <!-- followers usernames here... -->
                    {% for following in follows %}
                      <p>{{following.user.username}}</p>
                      <p>{{following.user.post.title}}</p>
                    {% endfor %}
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-sm" data-dismiss="modal" value="comment">Close</button>

                  </div>
                  <!-- <input type="text" class="form-control" placeholder="Add a comment..." aria-describedby="comment"> -->
                </div>
              </div>
            </div>
          </div>
          <!--  -->
          <!-- <a href="https://github.com/VirginiaNdungu1/"> -->
          <!-- {{request.user.profile.portfolio}}</a> -->

        </div>
        <!-- <div class="col-md-7"> -->

        <hr>

        {% for post in posts %}

          <div class="card">
            <div class="follow-user">
              <div class="username_section">
                <p>{{post.user.username}}</p>
              </div>
              <div class="follow_section">
                <a href="{% url 'follow' post.id %}">
                  <button type="submit" class="btn btn-md" name="button">Follow</button>
                </a>
              </div>
              <div class="download_section">
                <a href="{% url 'download_image' post.id %}">
                  <button type="submit" class="btn btn-md" name="button">Download</button>
                </a>
              </div>
            </div>
            <img src="{{post.picture.url}}" class="img-responsive" alt="Image">
            <div class="vote_section">
              <a href="{% url 'upvote_post' post.id %}">
                <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
                like
              </a>
              <span>
                <i class="fa fa-comments-o fa-2x" aria-hidden="true" data-toggle="modal" data-target="#myModal"></i>
              </span>

              <p>{{post.upvote_count}}
                likes</p>
              <br>
              <p>{{post.caption}}</p>
              <a href="{% url 'downvote_post' post.id %}">
                <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
                Dislike
              </a>{{post.downvote_count}}
              <br>
            </div>
            {% empty %}
            <p>No posts yet</p>

          </div>
        {% endfor %}
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
      <!-- empty div -->
      <!-- <div class="col-md-2"></div> -->
    </div>
  </div>

{% endblock %}
{% block scripts %}
  {% bootstrap_javascript %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
