<!-- {% extends "registration/base.html" %} -->
{% load bootstrap3 %}
{% load static %}
{% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
  {{block.super}}

  <!-- <header class="landing_page"> -->
  <div class="container">
    <div class="row">

      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
      <!-- <div class="col-md-8"> -->
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        {% for post in posts %}
          <div class="card">
            <div class="follow-user">
              <div class="username_section">
                <p>{{post.user.username}}</p>
              </div>
              <div class="follow_section">
                <a href="{% url 'follow' post.id %}">
                  <button type="submit" class="btn btn-md" name="button">Follow</button>
                </a>
              </div>
              <div class="download_section">
                <a href="{% url 'download_image' post.id %}">
                  <button type="submit" class="btn btn-md" name="button">Download</button>
                </a>
              </div>
            </div>
            <div class="post_image">
              <a class="download" href="{% url 'download_image' post.id %}">
                <i class="fa fa-download fa-2x" aria-hidden="true"></i>
              </a>
              <img src="{{post.picture.url}}" class="img-responsive" alt="Image">
            </div>
            <div class="vote_section">
              <a href="{% url 'upvote_post' post.id %}">
                <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
                {{post.upvote_count}}
                likes
              </a>
              <span>
                <i class="fa fa-comments-o fa-2x" aria-hidden="true" data-toggle="modal" data-target="#myModal"></i>
              </span>
              <hr>
              <!-- <a href="{% url 'get_comments' post.id %}">View all
                {{comment_count}}
                comments</a> -->
              <p class="comment">{{post.caption}}</p>
              {% for comment in comments %}
                <p>{{comment.comment}}</p>
              {% endfor %}
              <br>
            </div>
            <div class="col-md-4">
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-body">
                      <form action="{% url 'post_comment' post.id %}" method="post" enctype="multipart/form-data">
                        {%csrf_token%}
                        {% bootstrap_form form%}
                        <input type="submit" class="btn btn-lg" value="comment">
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-lg" data-dismiss="modal" value="comment">Comment</button>
                    </div>
                    <!-- <input type="text" class="form-control" placeholder="Add a comment..." aria-describedby="comment"> -->
                  </div>
                </div>
              </div>
            </div>
            {% empty %}
            <p>No posts yet</p>
          </div>
        {% endfor %}
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
    </div>

  </div>
  <!-- </header> -->

</div>
{% endblock %}

{% block scripts %}
{% bootstrap_javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %}
